/* Ici les polices du site */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

@font-face {
    font-family: zarathustra;
    src: url('fonts/zarathustra-v01-webfont.woff');
  }

  @font-face {
    font-family: zarathustra;
    src: url('fonts/zarathustra-v01-webfont.woff2');
  }

  @font-face {
    font-family: allround;
    src: url('fonts/allroundgothic-medium.woff');
  }

  @font-face {
    font-family: eurostyle;
    src: url('fonts/eurostyle.woff');
  }

  .promenade {
    font-family: zarathustra;
  }
  
  .neutre {
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .apesanteur {
    font-family: allround;
  }
  .idvis {
    font-family: eurostyle;
  }

  .station {
    font-family: 'Codystar', cursive;
  }

  .conquete {
    font-family: 'Space Mono', monospace;
  }

  .balance {
    font-family: 'Aref Ruqaa', serif;
  }

  .hors {
    font-family: 'Ultra', serif;
  }

  .mesure {
    font-family: 'Syncopate', sans-serif;
  }

  .capsule {
    font-family: 'Play', sans-serif;
  }